@import '../../variables.scss';
.card {
    border: 1px solid $main-color;
    width:90%;
    margin-bottom: 2rem;
    border-radius: 3px;
    background-color: #ffffff;
    position: relative;

    &:hover {
        border-color: $second-color;
        box-shadow: 2px 0 15px 2px $shadow-color;
        transition: border-color 0.3s 0.2s ease-out, box-shadow 0.3s 0.2s ease-out;

        .delete {
            opacity: 1;
            transition: opacity 0.3s 0.4s ease-out;
        }
    }

    &__title {
        color: $accents-color;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px 0 15px 7px;
    }

    &__body {
        color: $main-font;
        margin: 0 20px 5px;
    }
}

.delete {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid $alert-color;
    border-radius: 3px;
    top: 4px;
    right: 4px;
    background-color: transparent;
    opacity: 0;

    &:hover {
        background-color: rgba($alert-color, 0.2);
        transition: background-color 0.3s 0.4s ease-out;
    }

    &:after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-left: 1px solid $alert-color;
        transform: translate(6px, -14px) rotate(-45deg)
    }

    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-left: 1px solid $alert-color;
        transform: translate(6px, 6px) rotate(45deg)
    }
}