$main-color: #fc8c03;
$second-color: #03fcba;
$accents-color: #8403fc;

$alert-color: #a10000;
$accept-color: #00a136;

$shadow-color: #ededed;

$light-font: #dbdbdb;
$main-font: #2e2e2e;
$dark-font: #8403fc;