<h1 class="title">Notes</h1>
<section class="search">
    <app-search-module></app-search-module>
</section>
<section class="list">
    <app-card-module title="Lorem ipsum numero uno!" body="Lorem ipsum - first card content"></app-card-module>
    <app-card-module title="Lorem ipsum numero dos!" body="Lorem ipsum - second card content"></app-card-module>
    <app-card-module title="Third title" body="Lorem ipsum - third card content"></app-card-module>
    <app-card-module title="Dzień dobry" body="Dłuższy tekst umieszczony w treści karty. Powinien się zwinąć w co najmniej 2 linie."></app-card-module>
</section>